*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

*.iml
*.ipr
*.iws
*.idea/

**/doc/api/
app/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
app/build/

app.*.symbols

app.*.map.json

/app/android/app/debug
/app/android/app/profile
/app/android/app/release

**.env
/backend/db/
app/TODO.md
